<div class="sidebar-nav sidebar--nav">
  <div class="sidebar-nav-body">
      <div class="side-menu-close">
          <i class="la la-times"></i>
      </div><!-- end menu-toggler -->
      <div class="author-content">
          <div class="d-flex align-items-center">
              <div class="author-img avatar-sm">
                  <img src="assets/images/user.png" alt="">
              </div>
              <div class="author-bio">
                  <h4 class="author__title">Oscar Rivera</h4>
                  <span class="author__meta">Administrador</span>
              </div>
          </div>
      </div>
      <div class="sidebar-menu-wrap">
          <ul class="sidebar-menu toggle-menu list-items">
              <li><a routerLink="/admistrator/dashboard"><i class="la la-dashboard mr-2 text-color"></i>Dashboard</a></li>
              <li><a routerLink="/admistrator/hotels"><i class="la la-building mr-2 text-color-3"></i>Hoteles</a></li>
              <li><a routerLink="/admistrator/rutes"><i class="la la-map mr-2 text-color-4"></i>Rutas</a></li>
              <li><a routerLink="/admistrator/errors"><i class="la la-times-circle-o mr-2 text-color-5"></i>Log Errores</a></li>

              <li><a><i class="la la-power-off mr-2 text-color-11"></i>Cerrar Sesión</a></li>
          </ul>
      </div><!-- end sidebar-menu-wrap -->
  </div>
</div><!-- end sidebar-nav -->
<!-- ================================
     END DASHBOARD NAV
================================= -->
