<div class="modal-content" id="modal_rol_gestor_compra_create" ng-modal-draggable="modal_rol_gestor_compra_create">
    <div class="modal-header">
        <button ng-click="Cerrar()" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">
            <i ng-show="Data.Accion == 'create'" class="icon-plus"></i>
            <i ng-show="Data.Accion == 'edit'" class="icon-note"></i>
            <i ng-show="Data.Accion == 'detail'" class="icon-eye"></i>
            {{ Data.TituloPag }}
        </h4>
    </div>
    <div class="modal-body form">
        <form action="#" class="form-horizontal">
            <div class="form-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">Empresa <span class="font-red-mint">*</span></label>
                            <div class="col-md-8">
                                <select ng-model="Rol.Empresa" ng-change="ObtenerTiposCompra()" ng-disabled="Data.Accion == 'detail'" option="Metadatos.Empresas" ng-options="option.Nombre for option in Metadatos.Empresas track by option.Codigo" chosen></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Tipo de compra <span class="font-red-mint">*</span></label>
                            <div class="col-md-8">
                                <select ng-model="Rol.TipoCompra" ng-disabled="Data.Accion == 'detail'" option="Metadatos.TiposCompra" ng-options="option.Nombre for option in Metadatos.TiposCompra track by option.Codigo" chosen></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Gestor Región Sierra <span class="font-red-mint">*</span></label>
                            <div class="col-md-8">
                                <select ng-model="Rol.GestorSierra" ng-disabled="Data.Accion == 'detail'" option="Metadatos.Gestores" ng-options="option.NombreCompleto for option in Metadatos.Gestores track by option.Usuario" chosen></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Gestor Región Costa <span class="font-red-mint">*</span></label>
                            <div class="col-md-8">
                                <select ng-model="Rol.GestorCosta" ng-disabled="Data.Accion == 'detail'" option="Metadatos.Gestores" ng-options="option.NombreCompleto for option in Metadatos.Gestores track by option.Usuario" chosen></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Gestor Región Austro <span class="font-red-mint">*</span></label>
                            <div class="col-md-8">
                                <select ng-model="Rol.GestorAustro" ng-disabled="Data.Accion == 'detail'" option="Metadatos.Gestores" ng-options="option.NombreCompleto for option in Metadatos.Gestores track by option.Usuario" chosen></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Estado <span class="font-red-mint">*</span></label>
                            <div class="col-md-8">
                                <select ng-model="Rol.Estado" ng-disabled="Data.Accion == 'detail'" option="Metadatos.Estados" ng-options="option.Descripcion for option in Metadatos.Estados track by option.Id" chosen></select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="Cerrar()" href="javascript:;" class="btn dark btn-outline" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></a>
        <a ng-click="Data.Accion == 'detail' ? '' : Crear()" ng-disabled="Data.Accion == 'detail'" href="javascript:;" class="btn green">Guardar <i class="fa fa-save"></i></a>
    </div>
</div>