
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Error 500 | Sistema de Gestión de Compras</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/Content/global_mandatory_styles_css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/Content/theme_global_styles_css")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/pages/css/error.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class=" page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-red"> 500 </div>
            <div class=" details">
                <h3>Oops! Algo salió mal.</h3>
                <p>
                    Contante al administrador del sistema.
                    <br />
                </p>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="~/Content/global/plugins/respond.min.js"></script>
    <script src="~/Content/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/bundles/core_plugins_js")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    @Scripts.Render("~/bundles/theme_global_scripts_js")
    <!-- END THEME GLOBAL SCRIPTS -->
</body>
</html>