
@{
    ViewBag.Title = "Tipos de pago";
    Layout = "~/Views/Shared/_LayoutPago.cshtml";
}

<link href="~/AngularJS/lib/angular-datatables.bootstrap/datatables.bootstrap.min.css" rel="stylesheet" />
<link href="~/AngularJS/lib/jquery-chosen/chosen.min.css" rel="stylesheet" />
<link href="~/AngularJS/lib/jquery-chosen/chosen-sprite.png" rel="image_src" />

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<br />

<div ng-app="app_tipo_pago_pago" class="row" style="display: none" id="panel-listado-general-fade">
    <div ng-controller="TipoPagoPagoIndex" class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-list font-dark"></i>
                    <span class="caption-subject bold uppercase"> @ViewBag.Title</span>
                </div>
                <div class="actions">
                    <div style="display: inline; margin-right: 20px;">
                        <label class="mt-checkbox mt-checkbox-outline">
                            Mostrar inactivos
                            <input ng-model="MostrarInactivos" type="checkbox">
                            <span></span>
                        </label>
                        <button ng-click="Buscar()" class="btn btn-sm default">Buscar <i class="fa fa-search"></i></button>
                    </div>

                    <a ng-click="Adicionar()" href="javascript:;" class="btn btn-circle blue btn-outline">Nuevo tipo de pago <i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive" style="overflow-x: visible;">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover order-column">
                        <thead>
                            <tr>
                                <th>Referencia</th>
                                <th>No. cuenta</th>
                                <th>Nombre cuenta</th>
                                <th>Tipo cuenta</th>
                                <th>Es reembolso</th>
                                <th>Estado</th>
                                <th>Empresa</th>
                                <th style="max-width:170px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="TipoPago in TiposPago">
                                <td><a ng-click="Detalle(TipoPago.Id)" href="javascript:;">{{ TipoPago.Referencia }}</a></td>
                                <td>{{ TipoPago.CuentaContableCodigo }}</td>
                                <td>{{ TipoPago.CuentaContableNombre }}</td>
                                <td>{{ TipoPago.CuentaContableTipo }}</td>
                                <td>{{ TipoPago.EsReembolso ? 'SI' : 'NO' }}</td>
                                <td>{{ TipoPago.EstadoNombre }}</td>
                                <td>{{ TipoPago.EmpresaCodigo }}</td>
                                <td>
                                    <a ng-click="Editar(TipoPago.Id)" title="Editar" class="btn btn-circle yellow btn-outline btn-xs" style="margin-left:5px"><i class="fa fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Referencia</th>
                                <th>No. cuenta</th>
                                <th>Nombre cuenta</th>
                                <th>Tipo cuenta</th>
                                <th>Es reembolso</th>
                                <th>Estado</th>
                                <th>Empresa</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

@section Scripts {

    @*Eduardo: Datatables.*@
    <script src="~/AngularJS/lib/jquery-datatables/jquery.dataTables.js"></script>
    <script src="~/AngularJS/lib/angular-datatables/angular-datatables.js"></script>
    <script src="~/AngularJS/lib/angular-datatables.bootstrap/angular-datatables.bootstrap.min.js"></script>
    <script src="~/AngularJS/lib/jquery-datatables-columnfilter/dataTables.columnFilter.js"></script>
    <script src="~/AngularJS/lib/angular-datatables-columnfilter/angular-datatables.columnfilter.min.js"></script>

    @*Eduardo: Bootstrap.*@
    <script src="~/AngularJS/lib/angular-ui-bootstrap/ui-bootstrap-tpls-1.2.5.min.js"></script>

    @*Eduardo: Chosen.*@
    <script src="~/AngularJS/lib/jquery-chosen/chosen.jquery.min.js"></script>
    <script src="~/AngularJS/lib/angular-chosen/angular-chosen.min.js"></script>

    @*Eduardo: Archivos JS propios del módulo app_tipo_pago_pago.*@
    <script src="~/AngularJS/app/TipoPagoPago/controllers/TipoPagoPagoIndex.js"></script>
    <script src="~/AngularJS/app/TipoPagoPago/controllers/TipoPagoPagoCreate.js"></script>
    <script src="~/AngularJS/app/TipoPagoPago/controllers/TipoPagoPagoEdit.js"></script>
}