<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=localhost;initial catalog=SaludsaAdministracion;persist security info=True;user id=sa;password=pass;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- PARÁMETROS PERSONALIZADOS INICIO -->
    <add key="Url" value="http://pruebas.servicios.saludsa.com.ec" />
    <add key="Usuario" value="usradministracion" />
    <add key="Clave" value="U5r@admin1" />
    <add key="ClientId" value="8a3e4d10b2b24d6b9c55c88a95fdc324" />
    <add key="CodigoAplicacion" value="120" />

    <add key="EmailDestinatario" value="emmacias@gmail.com" />
    <add key="EmailNombreOrigen" value="Compras SaludSA" />
    <add key="EmailEmailOrigen" value="compras@saludsa-test.com" />
    <add key="EmailTiempoEspera" value="1" />
    
    <add key="UrlWeb" value="http://localhost:25111/Tarea/Edit" />

    <add key="UrlVisorRidePdf" value="http://10.10.24.4/aplicaciones/VisorDocumentosElectronicos/Forms/FacturaReader.aspx?cl=" />

    <add key="IdClaseMFiles" value="24" />

    <add key="direccionAbsoluta" value="E:\\SaludSA\\Console\\bin\\Debug\\" />
    <!-- PARÁMETROS PERSONALIZADOS FIN -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>