<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <connectionStrings>
    <add name="DBDevelopment" connectionString="Data Source=testapplicationsdb.database.windows.net;Initial Catalog=viajes;User ID=testdb;Password=test_db1!; Integrated Security=No; Max Pool Size=100; Min Pool Size = 5; Pooling=True;" providerName="System.Data.SqlClient" />
    <add name="DBTest" connectionString="Data Source=PABLEINS\SQLEXPRESS;Initial Catalog=Equipayment;User ID=sa;Password=123; Integrated Security=No; Max Pool Size=100; Min Pool Size = 5; Pooling=True;" providerName="System.Data.SqlClient" />
    <add name="DBProducction" connectionString="Data Source=PABLEINS\SQLEXPRESS;Initial Catalog=Equipayment;User ID=sa;Password=123; Integrated Security=No; Max Pool Size=100; Min Pool Size = 5; Pooling=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="BDActivo" value="0" />
    
    <add key="Url" value="http://desarrollo.servicios.saludsa.com.ec" />
    <add key="Usuario" value="usradministracion" />
    <add key="Clave" value="U5r@admin1" />
    <add key="ClientId" value="4f5aa72bbd3949239d89078ab2bc72f2" />
    <add key="CodigoAplicacion" value="120" />
    <add key="UrlVisorRidePdf" value="http://salud46/aplicaciones/VisorDocumentosElectronicos/Forms/FacturaReader.aspx?cl=" />
    <add key="IdClaseMFiles" value="24" />
    <add key="EmailDestinatario" value="emeneses@ingenesiscorp.com" />
    <add key="EmailNombreOrigen" value="Usuario Prueba" />
    <add key="EmailEmailOrigen" value="emeneses@ingenesiscorp.com" />
    <add key="EmailTiempoEspera" value="1" />
    <add key="UsuarioAcceso" value="" />
    <add key="KeyInternal" value="41434F5EE3E810CDCF358DE8EE1980E1D97686C1D5DA71BB03D6B7ABCEB80CF1" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>

    <extensions>
    </extensions>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviorNoAccess">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="Travel.Service.Token.Token, Travel.Service.Token" />
        </behavior>
        <behavior name="serviceBehaviorAccess">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="serviceBehaviorAccess" name="Travel.Service.AccessService.AccessService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="Travel.Service.AccessService.IAccessService" behaviorConfiguration="web"/>
  
      </service>
      <service behaviorConfiguration="serviceBehaviorNoAccess" name="Travel.Service.NoAccessService.NoAccessService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="Travel.Service.NoAccessService.INoAccessService" behaviorConfiguration="web"/>
        
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <handlers>
      <add name=".svc" verb="*" path="*.svc"
      type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>


</configuration>

<!--
       <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      -->