<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=Salud34;initial catalog=SaludsaAdministracion;persist security info=True;user id=SaludsaAdministracion;password=S@ludsaAdministraci0n;MultipleActiveResultSets=True;App=EntityFramework" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="Url" value="http://servicios.saludsa.com.ec" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientId" value="2803e0c47d7d4c32ac5fef7df77f7edb" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CodigoAplicacion" value="104" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlVisorRidePdf" value="http://www.redsaludsa.com/aplicaciones/VisorDocumentosElectronicos/Forms/FacturaReader.aspx?cl=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IdClaseMFiles" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailDestinatario" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailNombreOrigen" value="Saludsa Services" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailEmailOrigen" value="gestoradmk2@saludsa.com.ec" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>